.article {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  max-width: 20.3rem;
}

.article__header {
  display: flex;
  justify-content: space-between;
  height: 3.8rem;
  padding: 4px;
}

.article__header--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__header--title {
  font-weight: 500;
  font-size: 14px;
  padding-left: 4px;
  padding-top: 4px;
}

.article__header--time{
  padding-left: 4px;
  font-size: 14px;
  margin-top: 0px;
}

.article__header--info{
  font-size: 14px;
}

.article__header--info img{
  height: 20px;
  width: 20px;
}

.article__button {
  background-color:#a4a4a3;
  border-radius:28px;
  border:3px solid #d0cecc;
  display:inline-block;
  cursor:pointer;
  opacity: 0.9;
  color:#1c1c1b;
  font-family: 'Roboto', sans-serif;
  font-size:17px;
  padding:8px 50px;
  text-decoration:none;
  position: absolute;
  left: calc(50% - 6.2rem);
  margin-top: -4.3rem;
  margin-left: auto;
  margin-right: auto;
}

.article__button:hover {
  background-color:#cdcccc;
  text-decoration: none;
}

.article__button:active {
  position:relative;
  top:1px;
}

.article__footer p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 24px;
  padding-bottom: 10px;
  line-height: 1.3;
  font-weight: 200;
}
